/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 118px;
     background-color: #fff;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
   
    list-style-type: none;
    clear: left;
    height:20px;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 120px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 0px 5px;
    background-color:  #c5e6f9;
    color: #000;
    
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown-twitter {
    position:  absolute;
    width: 108px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1000000;
    margin-top: 167px;
    margin-left: 0px;
     padding: 5px;
    
  
    
}

div.token-input-dropdown-facebook {
    position:  absolute;
    width: 108px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1000000;
    margin-top: 161px;
    margin-left: 0px;
    padding: 5px;
    
    
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item {
    background-color:  #c5e6f9;
}

div.token-input-dropdown-twitter ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown-twitter ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-twitter ul li.token-input-selected-dropdown-item {
    background-color:  #c5e6f9;
}

