@{
    ViewBag.Title = "Index";
}
<div class="highlight" >
<br />
            <center><img src="/Images/3.jpg" style="width:609px; height:400px" /></center>
         	<br />
		<!--
        <h2 style="font-size:18px ">About us</h2>
          <img src="/Images/highlight.gif" alt="" class="right" />
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <a href="#" class="more">Find out more</a> 
        </div>
        <div class="projects">
          <h2 style="font-size:18px;">Latest projects</h2>
          <div class="item">
            <div class="image left"> <a href="#"><img src="/Images/project01.jpg" alt="" /></a> </div>
            <div class="text left">
              <h4>simply dummy title</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
              <a href="#" class="more">Find out more</a> </div>
            <div class="cl">&nbsp;</div>
          </div>
          <div class="item">
            <div class="image left"> <a href="#"><img src="/Images/project02.jpg" alt="" /></a> </div>
            <div class="text left">
              <h4>simply dummy title</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
              <a href="#" class="more">Find out more</a> 
             </div>
            <div class="cl">&nbsp;</div>

            -->
          </div>
        