@{
    ViewBag.Title = "Organization";
    Layout = null;
}
  
  <link href="/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        <link rel="stylesheet" href="/Content/Site.css" type="text/css" media="all" />
        <link rel="stylesheet" type="text/css" href="/Content/smoothmenu.css" />
        <link rel="stylesheet" type="text/css" href="/Content/collapse.css" />
        <link rel="stylesheet" href="/Content/autocomplete.css" type="text/css" />
          
        <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
    
        @Scripts.Render("~/bundles/jquery")
             
        <script src="/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
         <script type="text/javascript" src="/Scripts/validationCode.js"></script>    
   
        <script src="/Scripts/collapse.js"  type="text/javascript"></script>
        
        <script src="/Scripts/smoothmenu.js"  type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"  type="text/javascript"> </script>
        <script type="text/javascript" src="/Scripts/tokeninput.js"></script>
        
         <script type="text/javascript" src="../../Scripts/jquery.validate.js"></script>
         <script type="text/javascript"  src="~/Scripts/ui/jquery.ui.core.js"></script>
	     <script type="text/javascript"  src="~/Scripts/ui/jquery.ui.widget.js"></script>
	     <script type="text/javascript" src="~/Scripts/ui/jquery.ui.mouse.js"></script>
	     <script type="text/javascript" src="~/Scripts/ui/jquery.ui.button.js"></script>
	     <script type="text/javascript" src="~/Scripts/ui/jquery.ui.draggable.js"></script>
	     <script type="text/javascript" src="~/Scripts/ui/jquery.ui.position.js"></script>
	     <script type="text/javascript" src="~/Scripts/ui/jquery.ui.resizable.js"></script>
	     <script type="text/javascript" src="~/Scripts/ui/jquery.ui.dialog.js"></script>
	     <script type="text/javascript" src="~/Scripts/ui/jquery.effects.core.js"></script>   
                  
 <div id="content" class="left"  style=" margin-right: -80px">
         <div  id="content" class="left" >
            <div id="topbar" style="margin-left:-18px">
                     <form style="padding:1px 0;">
                    &nbsp;
                    <button id="save_organisation" style="padding: 1px  ; width:120px; background:#2B393B; cursor:pointer ">
                    <img src="/Images/save.png" style="width:28px ; height:22px" alt="" /><br />
                    <span  style="font-size:11px; font-weight:600; color:#fff; padding-left:1px">Save Organization</span></button>
                    &nbsp;
                     <button id="createuser" class="first_disable" style="padding: 1px  ;  width:105px; background:#2B393B; cursor:pointer">
                     <img src="/Images/add.png" style="width:28px ; height:22px" /><br />
                     <span style="font-size:11px; font-weight:600; color:#fff; padding-left:1px">Add Address</span></button>
                      &nbsp;
                     <button  class="first_disable" style="padding: 1px  0;  width:116px; background:#2B393B; cursor:pointer">
                     <img src="/Images/add.png" style="width:28px ; height:22px" /><br>
                     <span style="font-size:11px; font-weight:600; color:#fff; padding-left:1px "> Add Business unit</span></button> 
                      &nbsp;
                     <button  class="first_disable" style="padding:1.5px;  width:110px; background:#2B393B; cursor:pointer">
                     <img src="/Images/add.png" style="width:28px ; height:22px" /><br>
                     <span style="font-size:11px; font-weight:600; color:#fff;  padding-left:1px">Add  Contact</span></button> 
                     
                      &nbsp;
                     <button  class="first_disable"  style="padding: 1px  ;  width:103px; background:#2B393B ; cursor:pointer">
                     <img src="/Images/add.png" style="width:28px ; height:22px" /><br>
                     <span style="font-size:11px; font-weight:600; color:#fff; padding-left:1px">Create Contract</span></button> 
                      &nbsp;
                     <button  class="first_disable"  style="padding: 1px  ;  width:105px; background:#2B393B; cursor:pointer ">
                     <img src="/Images/service.png" style="width:28px ; height:22px" /><br>
                     <span style="font-size:11px; font-weight:600; color:#fff; padding-left:1px">Create Ticket</span></button> 
                </form>
          
             </div>
        </div>

 <div  id="content" class="left" >
     <div class="highlight">
         <br />
		  <h1 style="color:#2B393B; font-size:25px">Organization Information</h1>
         
           <form id="org_id" action="#">
					<table style="font-family: Georgia; font-size:13px; color:#294781; padding:10px 10px; 
                        background: #ECECEC ; width:680px" >
							<tr>
								<td colspan="2"><h2 style="font-size:18px; ">Organization Details</h2>
								</td>
							 </tr>
							<tr style="height:26px">
								<td><sup style="color:#FF3300">*</sup>Organization Id:</td>
								<td><input type="text" name="o_id" style="height:20px; "  /> </td>
								<td><sup style="color:#FF3300">*</sup>Organization Created on:</td>
								<td><input type="text"  name="o_created" style="height:20px; width:121px " class="tcal" /></td>
							</tr>
														
							<tr style="height:26px">
							<td><sup style="color:#FF3300">*</sup>Organization Name:</td>
							<td><input type="text" name="org_name" style="height:20px" ></td>
							<td><sup style="color:#FF3300">*</sup>Organization Category:</td>
						        <td><div>
                            <input type="text"  name="blah" id="temporary" />
                           </div>
                             </td>
							</tr>
													
							<tr style="height:26px">
							<td><sup style="color:#FF3300">*</sup>Organization Address ID:</td>
							<td><input type="text" name="o_address" style="height:20px; "  ></td>
							<td><sup style="color:#FF3300">*</sup>Organization Contact ID:</td>
							<td><input type="text" name="o_contact"  style="height:20px; " ></td>
							</tr>
							
							<tr style="height:26px">
							<td><sup style="color:#FF3300">*</sup>Organization Primary Contact:</td>
							<td><input type="text" name="o_p_contact" style="height:20px; " ></td>
							<td>Organization Secondary Contact:</td>
							<td><input type="text" name="o_s_contact" style="height:20px; " ></td>
							</tr>
                            
				</table>
		  </form>
            
       
        <br />
              <div class="col c1" style="width:680px">
 		             <div id="accordion-example" data-collapse="accordion"> 
                          <h3>Address Details</h3>
				                <div id="add_show" style="background:#EDF4F5">
					                
				                </div>
			                <h3>Business Unit Details</h3>
				                <div style="background:#EDF4F5">
                                    This is some information
                                </div>
			                <h3>Contact Details</h3>
				                <div style="background:#EDF4F5">
					                  This is some information
				                </div>
                             <h3>Contract Details</h3>
				                <div style="background:#EDF4F5">
					                  This is some information
				                </div>
                             <h3>Ticket Details</h3>
				                <div style="background:#EDF4F5">
					                  This is some information
				                </div>
                                <br />
                       </div>
                </div>
           
          </div>
          <div id ="alert_dialog" style="vertical-align:middle">
         
             <form id="add_id" action="/InventoryApp/addAddress">
					<table style="font-family: Georgia; font-size:13px; color: #732C7B; padding:10px 10px; 
                        background: #EDF4F5 ; width:744px" >
							
							<tr style="height:38px">
								<td>Id :</td>
								<td><input name="a_id" type="text" style="height:20px; "  /> </td>
								<td style=" padding-left:60px ">Address Created Date :</td>
								<td><input type="text" name="a_date" style="height:20px; width:135px"  class="tcal" ></td>
							</tr>
														
							<tr style="height:38px">
							<td>Address Owner ID :</td>
							<td><input type="text" name="a_ownerID" style="height:20px;" ></td>
							<td style=" padding-left:60px ">Address Category :</td>
							<td> <select name="department">
                            <option value="" style="height:20px; width:140px" selected>Select Category</option>
							<option value="Category1" style="height:20px; width:140px">Category1</option>
							<option value="Category2" style="height:20px; width:140px">Category2</option>
							
							</select></td>
							</tr>
													
							<tr style="height:38px">
							<td>Address Line1 :</td>
							<td><input type="text" name="address_line1" style="height:20px; " ></td>
							<td style=" padding-left:60px ">Address Line2 :</td>
							<td><input type="text" name="address_line2" style="height:20px; " ></td>
							</tr>
							
							<tr style="height:38px">
							<td>Address City :</td>
							<td><input type="text" name="add_city" style="height:20px; " ></td>
							<td style=" padding-left:60px ">Address Pincode :</td>
							<td><input type="text" name="add_pincode" style="height:20px; " ></td>
							</tr>
							
							<tr style="height:38px">
							<td>Address State :</td>
							<td><input type="text" name="add_state" style="height:20px; " ></td>
							<td style=" padding-left:60px ">Address Country :</td>
							<td><input type="text" name="add_country" style="height:20px; " ></td>
							</tr>
							
							<tr style="height:38px">                            
								
								<td></td>
								<td style="padding: 18px 0 14px 80px"  ><input type="submit" id="add_submit" value="Submit" style="height:28px; width:65px; 
								font-size:16px; background:#FF3300; color:#FFFFFF"/> </td>
								<td style="padding: 18px 0 14px 90px" > <input  type="reset" value="Reset" style="height:28px; width:60px; 
								font-size:16px; background: #FF3300 ; color:#FFFFFF"><br></td>
                                <td></td>
							
							</tr>
					</table>
		         </form>
          
          </div>
    </div>

</div>