@{
    ViewBag.Title = "Search";
}

                     <div class="ribbon">
                          <div id="rib">        
                                 <div class="ribmenu"  id="new_organisation">
                                      <img src="../../Ribbon/images/save_org.png" alt="Save Organization" />
                                     &nbsp; Add Item &nbsp;
                                 </div>
                          </div>
                        @* <div class="first_disable" id="rib"   >        
                             <div class="ribmenu" id="createuser">
                                  <img src="../../Ribbon/images/address.png" alt="Add Address" />
                                 Add Address
                             </div>
                         </div>
                          <div class="first_disable" id="rib"   >        
                             <div class="ribmenu" >
                                  <img src="../../Ribbon/images/business.png" alt="Add Business Unit" />
                                 Add Business Unit
                             </div>
                         </div>
                          <div class="first_disable" id="rib"   >        
                             <div class="ribmenu">
                                  <img src="../../Ribbon/images/contact.png" alt="Add Contact" />
                                 Add Contact
                             </div>
                         </div>
                         <div class="first_disable" id="rib"   >        
                             <div class="ribmenu">
                                  <img src="../../Ribbon/images/contract.png" alt="Create Contract" />
                                 Create Contract
                             </div>
                         </div>
                         <div class="first_disable" id="rib"  style="border-right:none" >        
                             <div class="ribmenu">
                                  <img src="../../Ribbon/images/ticket.png" alt="Create Ticket" />
                                 Create Ticket
                             </div>
                         </div>*@
                      </div>
           

<form id="search_form" action="/InventoryApp/SearchResults" action="post" style=" padding-top:5px">
        <table style="font-family: Arial; font-size:11px; color:#294781; padding:0px 10px; 
                                background: #ECECEC ; width:680px; border:1px solid #999999" >
        <tr>
            <td colspan="6"><h2 style="font-size:16px; padding-bottom:4px ">Search Item</td>
        </tr>
       <tr style="height:26px; padding-top:10px">
             <td style="width:160px">Part Name :</td>
             <td style="width:130px"> <input type="text" name="search_part" style="height:20px; width:100px" /></td>
             <td style="width:120px">Model No :</td>
             <td style="width:130px"><input type="text" name="search_model" style="height:20px; width:100px" /></td>
             <td style="width:120px">Manufacturer :</td>
             <td style="width:130px"><input type="text" name="search_manufacturer" style="height:20px; width:100px" /></td>
        
        </tr>

       <tr style="height:28px">                            
			<td colspan="4"></td>
			<td style="padding: 4px 10px 6px 40px; float:right"  >
                 <input type="submit" class="submit" id="add_submit" value="Search" /> </td>
         	<td style="padding: 4px 0px 6px 50px;" > <input  type="reset"   class="reset" value="Reset" style="" /></td>
       </tr>
     
        </table>
</form>
<div id="search_replace"></div>
